header {
  height: 34vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.header-wrapper {
  padding-top: 2.5em;
  display: flex;
  flex-direction: column;
  width: 85%;
}

h1 {
  font-size: 1.2em;
  letter-spacing: 0.03em;
  padding-bottom: 0.3em;
}

h3 {
  font-size: 0.7em;
  letter-spacing: 0.03em;
}

hr {
  margin: 1em 0;
  border: none;
  height: 1px;
  color: #31364b;
  background-color: #31364b;
}

.header-theme {
  display: flex;
  justify-content: space-between;
}

.header-theme h3 {
  padding-top: 0.2em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 22px;
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #aeb3cb;
  border-radius: 1em;
  cursor: pointer;
  transition: 0.2s;
}

.slider::before {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  right: 4px;
  bottom: 3px;
  border-radius: 1em;
  background-color: #f0f2fa;
  transition: 0.2s;
}

input {
  display: none;
}

/*  Dark mode  */
input:checked + .slider {
  background-image: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
}
input:checked + .slider::before {
  background-color: #252a41;
  transform: translateX(-22px);
}

@media screen and (min-width: 375px) {
  h1 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 550px) {
  hr {
    display: none;
  }

  .header-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  .header-theme {
    padding-top: 0.5em;
  }

  .header-theme h3 {
    padding-right: 0.7em;
  }
}

@media only screen and (min-width: 1000px) {
  header {
    height: 35vh;
  }
  .header-wrapper {
    width: 80%;
  }
}

/* Touchscreens with landscape */
@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
  header {
    height: 60vh;
  }
}

@media (orientation: landscape) and (hover: none) and (pointer: coarse) and (min-width: 1000px) {
  header {
    height: 40vh;
  }
}
