.social-sites {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: -5.5vh;
  width: 85vw;
}

.site-border {
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.site {
  width: 100%;
  height: 216px;
  margin-bottom: 1.6em;
  border-radius: 0.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
.site p {
  font-size: 0.7em;
  font-weight: 700;
}

.top-card,
.bottom-card,
.center-card {
  display: flex;
  align-items: center;
}

/* Website icon */
.top-card > img {
  padding-right: 0.4em;
}

.center-card {
  flex-direction: column;
}

.center-card > h1 {
  font-size: 3.3em;
  padding: 0;
}

.center-card > h3 {
  font-size: 0.8em;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.4em;
}

/* Arrow icon */
.bottom-card > img {
  height: 4px;
  padding-right: 0.3em;
}

@media only screen and (min-width: 550px) {
  .social-sites {
    grid-template-columns: 1fr 1fr;
    gap: 0 2em;
    margin-top: -15vh;
  }
}

@media only screen and (min-width: 1000px) {
  .social-sites {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0 1.5em;
    width: 80%;
  }
  .site {
    height: 180px;
  }
  .center-card > h1 {
    font-size: 2.5em;
  }
  .center-card > h3 {
    font-size: 0.6em;
    letter-spacing: 0.4em;
  }
  .top-card > img {
    width: 20px;
  }
}

/* Touchscreens with landscape */
@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
  .social-sites {
    margin-top: -20vh;
  }
}
