* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1.5em;
  font-family: 'Inter', sans-serif;

  /* Dark Theme */
  background-color: hsl(230, 17%, 14%);
  color: hsl(228, 34%, 66%);
}
